.Onboarding{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.HeadingWelcome{
    font-size: clamp(1rem, 1.25rem + 1.25vw, 3rem);
    padding: clamp(0.5rem, 1rem + 1vw, 2.5rem);
    letter-spacing: clamp(0rem, 0.2rem + 0.2vw, 0.3rem);
    text-align: center;
}

/* Onboard info & Login Card */
.wrapper{
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}

.leftSection{
    padding: clamp(0.5rem, 1rem + 1vw, 2.5rem) 0rem;
}
    .onboard{
        font-size: clamp(0.35rem, 1.5rem + 1.5vw, 3rem);
        letter-spacing: clamp(0.1rem, 0.2rem + 0.2vw, 0.3rem);
    }

    .pwrapper{
        font-size: clamp(0.25rem, 0.75rem + 0.75vw, 1.25rem);
        letter-spacing: 0.1rem;
        max-width: clamp(10rem, 12rem + 12vw, 20rem);
        padding: clamp(1rem, 0.75rem + 0.75vw, 3rem) 0rem;
        color: rgb(203, 203, 203);
    }

    .vision{
        font-size: clamp(0.5rem, 0.75rem + 0.75vw, 1.75rem);
        padding: 0rem clamp(1rem, 0.75rem + 0.75vw, 3rem);
    }

    .Li{
        list-style-type: disc;
        margin: clamp(0.25rem, 0.5rem + 0.5vw, 1rem);
    }

    .Li::marker{
        color: rgb(0, 200, 255);
    }

.rightSection{
    margin-top: 1rem;
    padding: clamp(0.5rem, 1rem + 1vw, 2.5rem) clamp(0.25rem, 2rem + 2vw, 5rem);
    width: 480px;
    height: 360px;
    transform: scale(calc(160vw / 1200)); /* Scale based on viewport width */
    border-radius: 8px;
    background-color: rgb(45, 45, 45);
}

    .BasicInfo{
        font-size: clamp(0.5rem, 1rem + 1vw, 2rem);
        margin-bottom: clamp(0.25rem, 0.5rem + 0.5vw, 1rem);
    }

    .progress{
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        margin: 0 auto;
        padding: clamp(0rem, 2rem + 2vw, 1rem);
        width: 100%;
    }

        .line{
            position: relative;
            width: 100%;
            height: 0.2rem;
            background-color: rgb(159, 159, 159);
            z-index: 0;
        }

        .lin2{
            z-index: 1;
            height: 0.2rem;
            background-color: rgb(0, 200, 255);
        }

        .dot{
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 50%;
            background-color: rgb(196, 196, 196);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            z-index: 2;
        }

        .dot.active{
            background-color: rgb(0, 200, 255);
        }
    
    /* Stage 1 */
    .inputFields{
        display: flex;
        gap: clamp(0.5rem, 3rem + 3vw, 10rem);
    }

        .fullName, .Username, .countrySection   {
            display: flex;
            flex-direction: column;
            padding: clamp(0.25rem, 1rem + 1vw, 1rem);
        }

        .namelabel, .usernamelabel, .countrylabel{
            font-size: clamp(0.25rem, 0.75rem + 1vw, 1.25rem);
            font-weight: 600;
            margin-bottom: 0.35rem;
        }

        #name, #Username{
            width: clamp(10rem, 1rem + 1vw, 12rem);
            padding: clamp(0.1rem, 0.2rem + 0.2vw, 0.5rem);
            font-size: clamp(0.5rem, 0.75rem + 0.75vw, 1rem);
        }

        .pfpCountry{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .pfp{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: clamp(0.3rem, 0.1rem + 0.1vw, 0.3rem);
        }

        #pfpImageInsertion{
            display: none;
        }
        .CircleforIMG{
            width: clamp(1rem, 1.5rem + 1.5vw, 3rem);
            height: clamp(1rem, 1.5rem + 1.5vw, 3rem);
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
            background-color: rgb(0, 200, 255);
        }
        .Profile-Picture{
            font-size: clamp(0.75rem, 1rem + 1vw, 1.25rem);
            font-weight: 600;
        }

    /* Stage 2 */
    .socials{
        margin-bottom: 2.72rem;
    }

    .LinkXTwitter, .LinkXFB{
        height: clamp(1rem, 2vw + 2rem, 2rem);
        width: clamp(3rem, 4rem + 4vw ,5rem);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Social{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo_text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin: 1rem;
    }
    /* Stage 3 */
    .Term_ConditionPara{
        padding: clamp(0.25rem, 1rem + 1vw, 1rem);
        border-radius: 8px;
        background-color: rgb(250, 250, 250);
        font-size: clamp(0.5rem, 1rem + 1vw, 1rem);
        margin-bottom: 1.15rem;
        color: black;
        max-height: 150px;
        overflow: scroll;
        scrollbar-width: none;
    }
    .checkboxTC{
        display: flex;
        padding: 0rem clamp(0.25rem, 1rem + 1vw, 1rem);
        margin-bottom: 1.15rem;
    }
    
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(0.25rem, 1rem + 1vw, 2rem);
    }

    .proceed{
        background-color: rgb(0, 200, 255);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: clamp(0.15rem ,0.5rem + 0.5vw ,0.5rem) clamp(0.5rem, 0.5rem + 0.5vw, 1.5rem);
        border: 0;
        outline: none;
        border-radius: 4px;
    }

    .LinkXFB.active{
        background-color: rgb(0, 200, 255);
        border: 0px;
        color: white;
    }

    .fbLogo{
        filter: grayscale(100%);
        border-radius: 50%;
    }

    .fbLogo.active{
        outline: 2px solid rgb(0, 200, 255);
        filter: none;
    }

    @media (max-width: 768px) {
        .wrapper{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .rightSection{
            margin-top: 1rem;
            padding: clamp(0.5rem, 1rem + 1vw, 2.5rem) clamp(0.25rem, 2rem + 2vw, 5rem);
            width: 70vw;
            height: 520px;
            margin-bottom: 2rem;
            transform: scale(calc(260vw / 768)); /* Scale based on viewport width */
            border-radius: 8px;
            background-color: rgb(45, 45, 45);
        }

        .inputFields{
            gap: 0rem;
            flex-direction: column;
        }
        .pfpCountry{
            flex-direction: column;
            align-items: flex-start;
        }

        .progress, .line{
            width: 50vw;
        }

        .pfp{
            margin-left: 1rem;
            margin-bottom: 2rem;
        }
    }

    @media (max-width: 390px) {
        .line{
            width: 87% !important;
        }
    }

/* HTML: <div class="loader"></div> */
.loaderButtons {
    width: 25px;
    padding: 6px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgb(0, 200, 255);
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}