.Onboarding{
    padding: 4rem;
}

.wrapper{
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    margin-top: 3rem;
}

.HeadingWelcome{
    font-size: 4rem;
    text-align: center;
    font-family: 'Anonymous Pro';
    font-weight: 500;
}

.leftSection{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}

.onboard{
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
}

.DescriptionOnboard{
    font-size: 1.25rem;
    font-weight: 400;
    color: #C5C5C5;
}

.pwrapper{
    max-width: 23rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.vision{
    list-style-type: disc;
    margin-left: 1.25rem;
    margin-top: 1rem;
    font-size: 1.65rem;
}

.Li{
    margin-top: 0.75rem;
}

.Li::marker{
    color: rgb(0, 200, 255);
    font-size: 2rem;
    text-align: center;
}

.rightSection{
    background-color: #2e2e2e;
    padding: 1.5rem;
    min-width: 40rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(118, 118, 118, 0.704) 0px 5px 25px;
}

.BasicInfo{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.inputFields{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.fullName, .Username{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 600;
    color: #C5C5C5;
}

.countrylabel, .Profile-Picture{
    font-size: 1.25rem;
    font-weight: 600;
    color: #C5C5C5;
}

.namelabel::after, .usernamelabel::after, .countrylabel::after{
    content: ' *';
    color: red;
    font-size: 1rem;
}

input{
    padding: 0.75rem;
    font-size: 1rem;
    width: 17rem;
    margin-top: 1rem;
    border-radius: 4px;
    border: 0px;
    outline: none;
}

input:focus{
    outline: #2e2e2e;
}

.pfpCountry{
    display: flex;
    padding: 1rem 5rem 1rem 2.5rem;
    align-items: center;
    justify-content: space-between;
}

#pfpImageInsertion{
    display: none;
}

.pfp{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.countrySection{
    display: flex;
    flex-direction: column;
    margin-left: -1.5rem;
}

.countrylabel{
    margin-bottom: 1rem;
}

.CircleforIMG{
    width: 3.75rem;
    height: 3.75rem;
    background-color: rgb(0, 200, 255);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.proceed{
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(0, 200, 255);
    font-size: 1rem;
    text-align: center;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
}

.Promotium{
    color: rgb(0, 200, 255);
}

.progress{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.dot{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-weight: 600;
    color: black;
    border-radius: 50%;
    z-index: 2;
    transition: "all 0.4s ease-in-out",
}

.dot.active{
    background-color: rgb(0, 200, 255);
    color: white;
}

.line{
    position: absolute;
    z-index: 0;
    min-width: 27rem;
    height: 0.25rem;
    background-color: rgb(150, 150, 150);
    align-self: center;
}

.lin2{
    position: absolute;
    min-width: 0%;
    height: 0.25rem;
    background-color: rgb(0, 200, 255);
    align-self: flex-start;
}

.buttons{
    display: flex;
    margin: 0 auto;
    gap: 2rem;
}

.proceed.back{
    background-color: rgb(0, 200, 255);
}

.logo_text{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
}

.LinkXTwitter{
    padding: 0.25rem 3rem;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
}

.LinkXFB{
    padding: 0.25rem 3rem;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
}

.fblogo{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.Social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.75rem;
}

.socials{
    padding: 1rem;
}

.TACPara{
    padding: 1rem;
}

.Term_ConditionPara{
    max-width: 35rem;
    border-radius: 8px;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    padding: 1.25rem;
    background-color: #383838;
}

.checkboxTC{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.35rem;
}

.Terms_ConditionCheck{
    align-self: center;
    font-size: 0rem;
    margin-top: 0rem;
    border-radius: 0px;
    width: 2rem;
}