.lockTokensWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lockToken {
    padding: 10px 11px;
    background-color:#01A1CD;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    min-width: 80px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .lockToken:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  /* Your custom loader */
  .loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader {
    width: 24px;
    aspect-ratio: 1;
    display: grid;
    grid: 50%/50%;
    color: #FFFFFF; /* or #25b09b if you want contrast */
    --_g: no-repeat linear-gradient(#FFD700 0 0);
    background: var(--_g), var(--_g), var(--_g);
    background-size: 50.1% 50.1%;
    animation:
      l6-0 1.5s infinite steps(1) alternate,
      l6-0-0 3s infinite steps(1);
  }
  .loader::before {
    content: "";
    background: currentColor;
    transform: perspective(150px) rotateY(0deg) rotateX(0deg);
    transform-origin: bottom right;
    animation: l6-1 1.5s infinite linear alternate;
  }
  @keyframes l6-0 {
    0% {
      background-position: 0 100%, 100% 100%, 100% 0;
    }
    33% {
      background-position: 100% 100%, 100% 100%, 100% 0;
    }
    66% {
      background-position: 100% 0, 100% 0, 100% 0;
    }
  }
  @keyframes l6-0-0 {
    0% {
      transform: scaleX(1) rotate(0deg);
    }
    50% {
      transform: scaleX(-1) rotate(-90deg);
    }
  }
  @keyframes l6-1 {
    16.5% {
      transform: perspective(150px) rotateX(-90deg) rotateY(0deg) rotateX(0deg);
      filter: grayscale(0.8);
    }
    33% {
      transform: perspective(150px) rotateX(-180deg) rotateY(0deg) rotateX(0deg);
    }
    66% {
      transform: perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(0deg);
    }
    100% {
      transform: perspective(150px) rotateX(-180deg) rotateY(-180deg) rotateX(-180deg);
      filter: grayscale(0.8);
    }
  }
  