.post-actions-container {
  align-items: center;
  width: 90%;
  margin: 1rem auto;
  border-bottom: 2px solid rgb(180, 180, 180);
  padding-bottom: 0.5rem;
  }

  .socialLabel{
    font-size: clamp(0.75rem, 1rem, 1.5rem);
    margin: 1rem 0rem;
  }
  
  .post-action-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
  }
  
  .post-action-row select,
  .post-action-row input {
    padding: 8px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    border: 0px;
  }
  
  .post-action-row input {
    flex: 1;
  }
  
  .add-button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    border: 0;
  }
  