.CreatePost{
    position: absolute;
    /* max-width: 800px;
    width: 90%;
    height: 70vh;
    max-height: 90vh; */
    width: 90%;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#1C1C1C;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10001;
}

.CreatePostBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 1000;
  }

  .CreatePostHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(72, 72, 72);
  }

  .CreatePostHeaderTag{
    font-size: 1.5em;
  }

  .bodyPost{
    width: 100%;
    height: 90%;
    padding: 0.25rem 0rem;
    align-self: center;
    justify-self: center;
  }

  .progress{
    display: flex;
    align-self: center;
    justify-self: center;
    height: 1vh;
    width: 90%;
    padding: clamp(0rem, 2rem + 2vw, 1rem);
}

.progressNames{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 3vh;
    width: 98%;
    font-size: 1rem;
}

.progressNameHeading{
    color: #878787;
    transition: all 0.1s ease-in;
}

.progressNameHeading.active{
    color: white;
}

    .line{
        position: absolute;
        width: 85%;
        height: 0.2rem;
        background-color: rgb(159, 159, 159);
        z-index: 0;
    }

    .lin2{
        z-index: 1;
        height: 0.2rem;
        background-color: rgb(0, 200, 255);
    }

    .dot{
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: rgb(196, 196, 196);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        z-index: 2;
        transition: all 0.1s ease-in;
    }

    .dot.active{
        background-color: rgb(0, 200, 255);
    }

    .card-selector {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 1rem 0;
        height: 82%;
        gap: 1rem;
      }
      
      .card {
        cursor: pointer;
        border: 2px solid #444;
        border-radius: 8px;
        padding: 1rem 1.5rem;
        max-width: 90%;
        min-width: 10%;
        background-color: #1e1e1e;
        color: white;
        display: flex;
        justify-content: space-between;
      }
      
      .card:hover {
        border-color: #59828e;
      }
      
      .card.selected {
        border-color: #59828e;
        box-shadow: 0 0 10px #00c8ff55;
      }
      
      .card input[type='radio'] {
        display: none;
      }
      .PostHeader{
        font-size: 1.5em;
        margin-bottom: 0.5rem;
      }
      .PostDescription{
        font-size: 0.75em;
        color: #d5d5d5;
        line-height: 20px;
        overflow: scroll;
        scrollbar-width: none;
      }

      .NextBTN{
        margin: 0 auto;
        padding: 0.5rem 1rem;
        background-color: rgb(0, 200, 255);
        color: white;
        border: 0px;
        border-radius: 4px;
        box-shadow: 0 0 10px #00c8ff55;
        cursor: pointer;
      }

.inputFieldsA{
  margin-top: 1.5rem;
  overflow: scroll;
  scrollbar-width: none;
}

.TitleWrapper, .descriptionWrapper, .SocialInteractions, .maxInteraction, .rewardPerInteraction{
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
  scrollbar-width: none;
}

.Title, .Description, .Facebook, .XTwitter, .maxInt, .rewardPIntLabel{
  margin-right: 1rem;
  color: #bdbdbd;
}

#TitleInput, #DescriptionInput, .MaxIntInput, .rewardPIntInput{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
  border: 0px;
  padding: 0.25rem 0.75rem;
  min-width: 120px;
  width: 480px;
  height: 40px;
  min-height: 20px;
}
#DescriptionInput{
  height: 80px;
  min-height: 40px;
  width: 455px;
}

#TitleInput:focus, #DescriptionInput:focus, .MaxIntInput:focus, .rewardPIntInput:focus{
  outline: none;
}

#XInput, #FacebookInput{
  display: none;
}

.fblogo, .xLogo{
  filter: grayscale(100%);
  cursor: pointer;
  transform: scale(0.95);
  border-radius: 50%;
  outline-offset: 2px;
  transition: all 0.1s ease;
}

#FacebookInput:checked + .fblogo, #XInput:checked + .xLogo{
  filter: grayscale(0%);
  transform: scale(1);
  outline: 2px solid #1DA1F2;
}

.stakePromotium{
  color: #bdbdbd;
  text-align: center;
  margin-top: 1rem;
}

.ApproveToken{
  border: 1px solid red;
  overflow: scroll;
  scrollbar-width: none;
  padding: 1rem;
}

.wrapperApprove{
  border: 1px solid gray;
  margin: 0 auto;
  width: 50%;
}

.ValueofStake{
  font-size: 2em;

}