.CreatePost{
    position: fixed;
    max-height: 90vh; 
    width: 90%;
    max-width: 750px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#1C1C1C;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10001;
}

  .CreatePostHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(72, 72, 72);
  }

  .CreatePostHeaderTag{
    font-size: 1.5em;
  }

  .bodyPost{
    width: 100%;
    height: 90%;
    padding: 0.25rem 0rem;
    align-self: center;
    justify-self: center;
  }

  .progress{
    display: flex;
    align-self: center;
    justify-self: center;
    height: 1vh;
    width: 90%;
    padding: clamp(0rem, 2rem + 2vw, 1rem);
}

.progressNames{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 3vh;
    width: 98%;
    font-size: 0.9rem;
}

.progressNameHeading{
    color: #878787;
    transition: all 0.1s ease-in;
}

.progressNameHeading.active{
    color: white;
}

    .line{
        position: absolute;
        width: 90%;
        height: 0.2rem;
        background-color: rgb(133, 133, 133);
        z-index: 0;
    }

    .lin2{
        z-index: 1;
        height: 0.2rem;
        background-color: rgb(0, 200, 255);
    }

    .dot{
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background-color: #6e6e6e;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        z-index: 2;
        font-size: 0.9em;
        transition: all 0.1s ease-in;
    }

    .dot.active{
        background-color: rgb(0, 200, 255);
    }

    .card-selector {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 1rem 0;
        height: 82%;
        gap: 1.1rem;
      }
      
      .card {
        cursor: pointer;
        border: 2px solid #444;
        border-radius: 8px;
        padding: 1rem 1rem;
        max-width: 95%;
        min-width: 10%;
        background-color: #1e1e1e;
        color: white;
        display: flex;
        justify-content: space-between;
      }
      
      .card:hover {
        border-color: #59828e;
      }
      
      .card.selected {
        border-color: #3e9cb9;
        box-shadow: 0 0 10px #00c8ffc0;
      }
      
      .card input[type='radio'] {
        display: none;
      }
      .PostHeader{
        font-size: 1.2em;
        margin-bottom: 0.6rem;
      }
      .PostDescription{
        font-size: 0.75em;
        color: #d5d5d5;
        line-height: 20px;
        overflow: scroll;
        scrollbar-width: none;
        opacity: 0.8;
      }

      .NextBTN{
        margin: 0 auto;
        padding: 0.5rem 1rem;
        background-color:  #01A1CD;
        color: white;
        border: 0px;
        border-radius: 4px;
        box-shadow: 0 0 10px #00c8ff55;
        cursor: pointer;
      }

.inputFieldsA{
  margin-top: 1.5rem;
  overflow: scroll;
  scrollbar-width: none;
  max-height: 300px;
}

.TitleWrapper, .descriptionWrapper, .SocialInteractions, .maxInteraction, .rewardPerInteraction, .stakePromotiumChallenge, .DatePicker{
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 17px;
  width: 90%;
  margin: 0 auto;
}

.Title, .Description, .Facebook, .XTwitter, .maxInt, .rewardPIntLabel, .StakePromoLabel, .ChallengePeriodLabel{
  margin-right: 1.2rem;
  color: #bdbdbd;
}

#TitleInput, #DescriptionInput, .MaxIntInput, .rewardPIntInput, .StakePromoInput, .date-input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
  border: 0px;
  padding: 0.25rem 0.75rem;
  min-width: 200px;
  /* width: 505px; */
  height: 40px;
  width: 100%;
  min-height: 20px;
  background-color: #303030;
  color: white;
}
#DescriptionInput{
  height: 120px;
  min-height: 40px;
  width: 97%;
}

#TitleInput:focus, #DescriptionInput:focus, .MaxIntInput:focus, .rewardPIntInput:focus{
  outline: none;
}

#XInput, #FacebookInput{
  display: none;
}

.fblogo, .xLogo{
  filter: grayscale(100%);
  cursor: pointer;
  transform: scale(0.95);
  border-radius: 50%;
  outline-offset: 2px;
  transition: all 0.1s ease;
  margin-bottom: 1rem;
}

#FacebookInput:checked + .fblogo, #XInput:checked + .xLogo{
  filter: grayscale(0%);
  transform: scale(1);
  outline: 2px solid #1DA1F2;
}

.stakePromotium{
  color: #bdbdbd;
  text-align: center;
}

.Confirmation{
  overflow: scroll;
  scrollbar-width: none;
  padding: 1rem;
}

.wrapperApprove{
  margin: 0 auto;
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  scrollbar-width: none;
}

.wrapperlogo-Price{
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 0rem 1rem;
  border-bottom: 1px solid #808080;
  margin-bottom: 0.25rem;
}

.ValueofStake{
  font-size: 2em;
}
.logocircle{
  border-radius: 50%;
  width: 5em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lockTokensWrapper{
  margin: 0 auto;
  width: 30%;
  padding: 0.5rem 0.25rem;
}

.lockToken{
  padding: 0.25rem 1rem;
  border-radius: 4px;
  outline: none;
  border: 0px;
  font-size: 1em;
  background-color: #1DA1F2;
  color: white;
  cursor: pointer;
}

.Congratulations{
  text-align: center;
  padding: 1rem 0rem;
  max-width: 25rem;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.CongratsHead{
  font-size: 2em;
  margin-bottom:1rem;
}

.paraCongrats{
  font-size: 0.9em;
  color: #b8b8b8;
}



.CreatePostInstructions{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100px;
}
.CreatePostInstructions>h1{ 
  font-size: 1.2em;
}
.CreatePostInstructions ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.CreatePostInstructions li {
  font-size: 0.8em;
  opacity: 0.8;
  line-height: 16px;
}
