.InteractionA{
    max-width: 680px;
    width: 88%;
}
.InteractATags{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 7px 5px;
    /* border:1px solid rgb(181, 181, 181); */
    border-radius: 3px;
    background-color: #323232;
}
.InteractATags>span{
    opacity: 0.8;
}

.InteractABody{
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: scroll;
    scrollbar-width: none;
    padding-bottom: 20px;
   border-bottom: 1px solid rgb(72, 72, 72);
}
.InteractABody>p{ 
    font-size: 0.8em;
    opacity: 0.8;
}

.InteractionA>button{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color:  #01A1CD;
    color: white;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}
.InteractionA>button:hover{
    background-color: #007ea0;
}
.InteractABody>div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.IBHead h2{ 
    font-size: 1.2em;
}

.IBRequirements{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 30px;
}
.IBRequirements>span{
    display: flex;
    align-items: center;
    gap: 2px;
    opacity: 0.8;
    font-weight: 300;
}