.InteractionHistoryMenu{
    max-width: 800px;
    width: 88%;
    height: 75vh;
    overflow: hidden;
}

.IHPostB{
  display: flex;
  gap: 10px;
  height: 100%;
}
.PromotersWrapper{
   
    width: 20%;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(56, 55, 55);
    gap: 5px;
    padding-right: 10px;
}
.PromotersWrapper>h2{
    align-self: center;
    margin-bottom: 10px;
    font-size: 1.1em;
    text-align: center;
}
.PromotersWrapper>span{
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #272727a7;
    border-radius: 5px;
    font-weight: 300;
    flex-wrap: wrap;
    justify-content: center;

}
.PromotersWrapper>span>img{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background-color: #01A1CD;
}
.PromotersWrapper>span:hover{
    background-color: #3d3d3d;
}

.InteractionDetails{
  display:flex;
  flex-direction: column;
  gap: 12px;
  overflow: scroll;
 scrollbar-width: none;
 width: 80%;

}
.InteractionDetails>h2{
    font-size: 1.2em;
}
.InteractionDetails h3{
    font-size: 0.9em;
    opacity: 0.8;
}
.InteractionDetails>span{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ReportButton{
    display:flex;
    align-items:center;
    gap: 4px;
    background-color: rgb(172, 2, 2);
    color:white;
    border: none;
    padding: 8px 8px ;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    position: absolute;
}
.ReportButton:hover{
    background-color: rgb(136, 1, 1) ;
}
.InteractionTextProof{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.InteractionTextProof>h2{
   font-size: 1.2em;
}
.InteractionTextProof>p{
    font-size: 0.9em;
    padding: 6px;
    opacity: 0.9;
    background-color: #01A1CD;
    line-height: 17px;
    border-radius: 3px;
}
.InteractionImageProof{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.InteractionImageProof>h2{
    font-size: 1.2em;
}

.ProofImagesContainer{
   display: flex;
   gap: 10px;
   overflow: scroll;
   scrollbar-width:none;
}
.ProofImagesContainer>img{
    height:150px;
    width: 200px;
    background-color: #01A1CD;
    border-radius: 5px;
}



@media screen and (max-width:650px) {
    .IHPostB{
     flex-direction: column;
    }
    .PromotersWrapper{
        flex-direction: row;
        width:100%;
        max-height: 110px;
        max-width: 100%;padding-bottom: 10px;
        border-bottom:1px solid rgb(114, 114, 114);
        border-right: none;
    }
    .InteractionDetails{
      width: 100%;   
    }
}

@media screen and (max-width:450px){
 .InteractionHistoryMenu{
    font-size: 0.9em;
 }
 .ProofImagesContainer>img{
    height:100px;
    width: 150px;
    background-color: #01A1CD;
}
}