.InteractionB{
    max-width: 800px;
    width: 88%;
}
.InteractionB>p{
    font-size: 0.9em;
    opacity: 0.7;
}
.InteractionB>button{
     margin: 0 auto;
    padding: 0.5rem 1.4rem;
    background-color:  #01A1CD;
    color: white;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}
.InteractionB>button:hover{
    background-color: #007ea0;
}
.InteractionbBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    max-height: 220px;
    overflow: scroll;
    scrollbar-width: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #414141;
}
.InteractionbBody>div{
    display: flex;
    flex-direction: column; 
    gap: 10px;
}
.InteractionbBody textarea{
    /* resize: none; */
    min-height:40px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 5px;
}


.ProofImagesContainer{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

.image-container{
    position: relative;
    display: inline-block;
    padding: 1rem 1rem;
    width: 11rem;
    height: 11rem;
    background-color: #303030;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.uploaded-image{
    width: 10rem;
    height: 10rem;
}

.ClickToAdd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.delete-button{
    position: absolute;
    top: 8px; /* adjust as needed */
    right: 8px; /* adjust as needed */
    background-color: #800020;
    border: none;
    color: white;
    font-size: 16px;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 50%;
}

.upload-text-head{
    font-size: clamp(0.75rem, 1vw, 1.25vw);
}

.upload-text-desc{
    color: rgb(181, 181, 181);
    font-size: clamp(0.5rem, 0.75vw, 1vw);
}


.InteractBTags{
    display: flex;
    gap: 8px 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid #414141;
}
.InteractBTags>span{
    padding: 5px;
    background-color: #01A1CD;
    color: white;
    font-size: 0.9em;
    border-radius: 3px;
}