.InteractionB{
    max-width: 800px;
    width: 88%;
}
.InteractionB>p{
    font-size: 0.9em;
    opacity: 0.7;
}
.InteractionB>button{
     margin: 0 auto;
    padding: 0.5rem 1.4rem;
    background-color:  #01A1CD;
    color: white;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}
.InteractionB>button:hover{
    background-color: #007ea0;
}
.InteractionbBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    max-height: 300px;
    overflow: scroll;
    scrollbar-width: none;
}
.InteractionbBody>div{
    display: flex;
    flex-direction: column; 
    gap: 10px;
}
.InteractionbBody textarea{
    resize: none;
    height:70px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 5px;
}


.ProofImagesContainer{
    display: flex;
    gap:20px;
   
}
