.Menu{
    position: fixed;
    max-height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#1C1C1C;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.Menu>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(72, 72, 72);
}
.Menu>div:nth-child(1) h1{
    font-size: 1.5em;
    font-weight: 600;
}
.CloseButton{
    opacity: 0.8;
}
.CloseButton:hover{
    cursor: pointer;
    opacity: 0.9;
}


.BackdropEffect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(14px);
    z-index: 100;
} 




/* Notification Menu */
.NotificationMenuA{
    max-width: 600px;
    width: 500px;
    width: 90%;
    /* height: 65vh; */
}
.NotificationButtons{
    display: flex;
    gap: 40px;
    font-size: 0.9em;
}
.NotificationButtons>h2:hover{
    cursor: pointer;
    color:  #01a1cd;
}
.NTagWraper{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap: 10px;
}
.NTagWraper::-webkit-scrollbar{
    display: none;
}

.NTag{
    display: flex;
    gap: 10px;
    font-size: 0.9em;
    align-items: center;
    padding: 12px 10px;
    background-color: #212020;
    border-radius: 8px;
}
.NTag:hover{
    cursor: pointer;
}
.NTag img{
    min-width: 35px;
    min-height:35px;
    border-radius: 50%;
    background-color: #01a1cd;
}
.NTag>div{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.NTag h1{
    font-weight: 500;
}
.NTag h3{
    opacity: 0.8em;
    font-size: 0.8em;
}
.NTag h2{
     font-size: 0.8em;
     opacity: 0.8;
}
.NTag>div>div{
    display: flex;
    gap: 10px;
}


/* Disclaimer Menu*/

.DisclaimerMenuBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.DisclaimerMenuBody>h1{
    font-size: 1.2em;
    font-weight: 500;
}
.DisclaimerMenuBody>p{
    font-weight: 400;
    font-size: 0.9em;
    line-height: 18px;
    opacity: 0.8;
}
.DisclaimerMenuBody>div{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 0.9em;
}
.DisclaimerMenuBody>button{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color:  #01A1CD;
    color: white;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}
.DisclaimerMenuBody>button:hover{
     background-color: #007ea0;
}



/* Resign Menu*/

.ResignMenu{
    max-width: 400px;
    width: 95%;
}

.ResignMenuBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ResignMenuBody h1{
    font-size: 0.9em;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px solid #393838;
}

.ResignMenuBody button{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}
.ResignMenuBody>div{
    display: flex;
    gap: 10px;
    align-self: center;
}
.ResignMenuBody>div>button:nth-child(1){
    background-color: white;
    color: black;
}
.ResignMenuBody>div>button:nth-child(2){
    background-color:#C6011F;
    color: white;
}