.ReportMenu {
    width: 90%;
    max-width: 900px;
}
.ReportMenuStats { 
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(88, 88, 88);
}
.ReportMenuStats>span{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.9em;
    font-weight: 300;
}
.ReportMenuStats h2{
    opacity: 0.8;
}
.RMenuButton{
    background-color:  #01A1CD;
    color: white;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
    padding: 7px 8px;
    max-width: 120px;
}
.RMenuButton:hover{
    background-color: #007ea0;
}
.ReportBody{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ReportBody>p{
    font-size: 0.9em;
    padding: 6px;
    opacity: 0.9;
    background-color: #01A1CD;
    line-height: 17px;
    border-radius: 3px;
}

.ReportVote{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #303030;
}
.ReportVote>p {
    font-size: 0.9em;
    opacity: 0.8;
    font-weight: 300;
}
.ReportVote>span:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ReportVote>span textarea {
   resize: none;
    height:40px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 5px;
} 
.ReportVote>span:nth-child(4){ 
    display: flex;
    gap: 10px;
    align-items: center;
}
.ReportVote>span:nth-child(4) select{
    background-color: #303030;
    color: white;
    padding: 5px;
}