.Dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: scroll;
  height: 100vh;
  scrollbar-width: none;
  margin-left: 60px;
}
.DSection2 {
  align-self: center;
  width: 98%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  /* justify-content: center; */
}

.DSection2 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 750px;
  width: 90%;
}
.DSection2 > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.CreatePostbutton {
  color: white;
  background-color: #01a1cd;
  border: none;
  display: flex;
  align-items: center;
  padding: 5px 6px;
  border-radius: 5px;
  font-size: 0.8em;
  justify-content: center;
}
.CreatePostbutton:hover {
  cursor: pointer;
  background-color: #0286aa;
}
.DSection2 > div:nth-child(1) span {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.9em;
  position: relative;
}
.DSection2 > div:nth-child(1) span:hover {
  cursor: pointer;
}
.FilterMenu {
  position: absolute;
  width: 160px;
  padding: 10px;
  top: 35px;
  left: -50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 3px;
  color: black;
  z-index: 2;
}
.FilterMenu button {
  align-self: center;
  width: 70px;
  margin-top: 5px;
}
.FilterMenu > span {
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.PostWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: scroll;
  padding-bottom: 50px;
  max-height: 65vh;
}
.PostWrapper::-webkit-scrollbar {
  display: none;
}

.DSection2 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.DNewsComponent {
  background-color: #1c1c1c;
  border-radius: 8px;
  /* flex-grow: 0.9; */
  max-width: 400px;
  height: 180px;
  position: relative;
}
.DNewsComponent div {
  position: absolute;
  padding: 6px;
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(4px) saturate(200%);
  background-color: #1C1C1C;
  border:1px solid rgb(135, 135, 135);
  border-radius: 12px;
  bottom: 0px;
  left: 55%;
  transform: translate(-90%,-50%);
  display: flex;
  gap: 10px;
}
.DNewsComponent>img{
    width: 100%;
    height: 100%;
    background-color: #01a1cd;
    border-radius: inherit;
}
.DNewsComponent span{
   width: 7px;
   height:7px;
   border-radius: 50%;
   background-color: #3e3e3e;
}
.DNewsComponent span:hover{
   cursor: pointer;
}



.DAssetsComponent{
  /* flex-grow: 0.9; */
  background-color: #1c1c1c;
  border-radius: 8px;
  max-width: 370px;
  padding: 15px;
  height: 210px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.DAssetsComponent>h1{
 font-size: 1.4em;
}
.AssetsTag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9em;
    align-items: center;
}
.AssetsTag>div:nth-child(1){
    display: flex;
    gap: 10px;
    align-items: center;
}
.AssetsTag span{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.AssetsTag>span{
    text-align: right;
}
.AssetsTag img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.AssetsTag h3{
    font-size: 0.8em;
    opacity: 0.8;
}



.SystemStatus{
   position: fixed;
   bottom: 12px;
   width: 100%;
   background-color: #01a1cd;
   padding:6px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
     display: none;
}






.loaderPost {
  width: 20px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#fbfbfb 80%,#ffffff00);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}


@media screen and (max-width:770px) {
   .Dashboard{
    margin-left: 0;
   }
   .DSection2 > div:nth-child(1){
     flex-grow: 0.9;
   }
   .DSection2>div:nth-child(2){
    flex-grow: 0.9;
    align-self: center;
   }
   .DNewsComponent{
    max-width: none;
   }
   .FilterMenu{
    left: -120px
   }

}