.SearchMenu{
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
    width: 80%;
    max-width: 500px;
    top: 50%;
}

.SearchBar {
    width: 100%;
    border-bottom: 1px solid rgb(75, 75, 75);
    padding-bottom: 0.75rem;
  }
  
  .CustomInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 0.4rem 0.6rem;
    background-color: #363636;
    outline: none;
  }
  
  .SearchBadge {
    background-color: #3498db;
    color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    white-space: nowrap;
  }
  
  .SearchInput {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    background: transparent;
    color: #ffffff;
  }
  
  .searchSVGWrapper {
    cursor: pointer;
  }  

    .filter-option input[type="radio"] {
        display: none;
    }

    .quickResult, .ResultsSearch{
        border-bottom: 1px solid rgb(75, 75, 75);
        padding-bottom: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .filter-group{
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .quickResult>h1 , .ResultsSearch>h1{
        font-size: 1.25em;
    }

    .filter-option{
        padding: 0.5rem 0.75rem;
        border: 0px !important;
        background-color: #ababab;
        border-radius: 6px;
        transition: all 0.1s linear;
    }

        .filter-option.selected{
            background-color: #3498db;
        }

    .usersResult{
        display: flex;
        align-items: center;
        width: fit-content;
        border-radius: 6px;
        gap: 0.5rem;
        padding: 0.25rem;
        background-color: #6a6a6a;
    }

        .usersResult>img{
            border-radius: 50%;
            background-color: #3498db;
        }

        .usersResult>p{
            font-size: 1em;
        }