.Topbar{ 
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    width: 98%;
    align-self: center;
}

.Topbar>div:nth-child(1){
    font-size: 1.2em;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 30px;
}

.Topbar>div:nth-child(1)>div{
    display: flex;
    align-items: center;
}

.Topbar>div:nth-child(1)>div:nth-child(1){
    gap: clamp(5px, 10px, 30px);
}

.Topbar>div:nth-child(1)>div a:hover{
    cursor: pointer;
    color: rgb(0, 200, 255);
}

.Topbar>div:nth-child(1)>div:nth-child(3){
   background-color: #1C1C1C;
   padding: 5px 20px;
   border-radius: 20px;
   transition: all 0.1s linear;
}
.Topbar>div:nth-child(1) input {
    width: 15vw;
    background-color: inherit;
    border: none;
    outline: none;
    color: white;
}




.Topbar>div:nth-child(2)>button:hover{
    cursor: pointer;
    background-color:#01a1cd;
}

.TUserWrapper{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.9em;
}
.TUserWrapper>img{
    width:30px;
    height: 30px;
    padding: 8px 10px;
    background-color: #1C1C1C;
    border-radius: 10px;
}

.TUserProfile{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px 10px;
    background-color: #1C1C1C;
    border-radius: 10px;
}
.userProfile{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: white;
}
.userProfile:hover{
    cursor: pointer;
}
.userProfile img{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: #01a1cd;
}
.userProfile span{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.userProfile h3{
    opacity: 0.8;
    font-size: 0.8em;
}


.NotificationIcon{
    position: relative;
    padding: 3px 4px;
    border-radius: 5px;
}
.NotificationIcon:hover{
    cursor: pointer;
    background-color: #272727;
}
.NotificationIcon>span{
    position: absolute;
    font-size: 0.8em;
    top: -5px;
    right: -5px;
    width: 5px;
    height: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
}

.HamburgerIcon, .MobileMenu{
    display: none !important;
}

.SearchSVG{
    padding: 7px;
    border-radius: 5px
}
.SearchSVG:hover{
    cursor: pointer;
    background-color: #212121;
}










@media (max-width: 768px) {
    .userProfile, .protocolTools{
        display: none !important; 
    }

    .HamburgerIcon{
        display: flex !important;
        margin-left: 2rem;
    }

    .MobileMenu {
        position: absolute;
        top: 60px;
        left: 5vw;
        right: 10px;
        background-color: #01A1CD;
        padding: 10px;
        border-radius: 10px;
        display: flex !important;
        flex-direction: column;
        gap: 10px;
        z-index: 999;
        max-width: 10rem;
    }

    .MobileMenu a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1em;
        padding: 8px 0px;
        border-radius: 6px;
        transition: background 0.3s;
    }

    .MobileMenu a:hover {
        background-color: #2a2a2a;
        cursor: pointer;
    }
}