.Topbar{ 
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

.Topbar>div:nth-child(1){
    font-size: 1.2em;
    max-width: 700px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-left: 20px;
    gap: 30px;
}

.Topbar>div:nth-child(1)>div{
    display: flex;
    align-items: center;
}

.Topbar>div:nth-child(1)>div:nth-child(1){
    gap: 30px;
}

.Topbar>div:nth-child(1)>div a:hover{
    cursor: pointer;
    color: rgb(0, 200, 255);
}

.Topbar>div:nth-child(1)>div:nth-child(2){
   background-color: #111111;
   padding: 5px 20px;
   border-radius: 20px;
}
.Topbar>div:nth-child(1) input {
    width: 200px;
    background-color: inherit;
    border: none;
    outline: none;
    color: white;
}

.Topbar>div:nth-child(2){
   margin-right: 30px;
}


.Topbar>div:nth-child(2)>button:hover{
    cursor: pointer;
    background-color:#01a1cd;
}

.TUserWrapper{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.9em;
}
.TUserWrapper>img{
    width:30px;
    height:30px;
    padding: 8px 10px;
    background-color: #111111;
    border-radius: 10px;
}

.TUserProfile{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px 10px;
    background-color: #111111;
    border-radius: 10px;
}
.TUserProfile>div:nth-child(1){
    display: flex;
    gap: 10px;
    align-items: center;
}
.TUserProfile>div:nth-child(1) img{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: #01a1cd;
}
.TUserProfile>div:nth-child(1) span{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.TUserProfile>div:nth-child(1) h3{
    opacity: 0.8;
    font-size: 0.8em;
}
.NotificationIcon{
    position: relative;
}
.NotificationIcon>span{
    position: absolute;
    font-size: 0.8em;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
}