.Profile{
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content:center ;
}

.UserCard{
    max-width: 550px;
    width:95%;
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* padding: clamp(1rem, 1.5rem, 2rem) clamp(0.25rem, 0.5rem, 1rem); */
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    max-height: 88vh;
    border-radius: 10px;
    overflow: scroll;
    scrollbar-width: none;
    
}


    .ProfilePicture img{
        width:130px;
        height:130px;
        border-radius: 50%;
        background-color: #01a1cd;
        cursor: pointer;
    }

    .information{
        /* width: clamp(10rem, 30rem, 60rem); */
        width: 100%;
        display: flex;
        flex-direction: column;
    }

        .ProfileActions-UserName{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
        }
            .ProfileActions-UserName p{
                font-size: clamp(0.5rem, 1.25rem, 1.5rem);
            }

        .UserStats{
            display: flex;
            justify-content: center;
            flex-wrap: wrap-reverse;
            gap: 10px;
        }
            .UserStats .stat{
                display: flex;
                flex-direction: column;
                align-items: center; 
                justify-content: center;
                gap:2px;
                width: 130px;
                height: 70px;
                background-color: #4f4f4f;
                border-radius: 5px;
            }
            .stat>h1{
                font-size: 1.2em;
                font-weight: 600;
                color: #01A1CD;
            }
            .stat>h3{
                font-size: 0.8em;
           
            }

        .userInfo{
            display: flex;
            flex-direction: column;
            gap: clamp(0.35rem, 0.65rem, 0.95rem);
        }

            .userFullName{
                 font-size: 1em;
            }

            .walletAddress{
                    display: flex;
                    gap: clamp(0.5rem, 0.75rem, 1rem);
                    align-items: center;
                    flex-wrap:wrap ;
            }

                .userWalletAddress{
                    color: rgb(179, 179, 179);
                    font-size: clamp(0.8rem, 0.75vw, 1rem);
                }

        .userBio{
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: clamp(0.5rem, 1rem, 1.25rem);
        }

        #bioChangeInput, #nameChangeInput{
            border-radius: clamp(4px, 5px, 6px);
            padding: 0.25rem 0.75rem;
            min-height: 4vh;
            font-size: 0.75rem;
            border: 0px;
            outline: none;
        }

        #nameChangeInput{
            max-width: 15vw;
        }

        .labelBioChange{
            margin-top: clamp(0.25rem, 0.5vw, 0.75rem);
            color: rgb(179, 179, 179);
            font-size: clamp(0.35rem, 0.65rem, 0.85rem);
        }

        .socialLinks{
            display: flex;
            flex-direction: column;
            gap: clamp(0.25rem, 0.35rem, 0.5rem);
        }
            
            .socialContainers{
                display: flex;
                align-items: center;
                gap: clamp(0.25rem, 0.35rem, 0.5rem);
            }

                .socialContainers a{
                    text-decoration: none;
                    color: #75a8b6;
                }

.ProfileActions-UserName,
.UserStats,
.userInfo,
.userBio,
.socialLinks{
    padding: 0.75rem 0rem;
}


.ProfileActions-UserName{
    padding-top: 0rem;
}

.uploadedContent{
    padding: 1.5rem 0;
    width: 90%;
    max-width: 500px;
    padding-bottom: 100px;
}

    .ChallengeOrdinarySelection{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
        gap:20px;
        cursor: pointer;
        color: rgb(140, 140, 140);
    }
    .ChallengeOrdinarySelection>span{
        padding-bottom: 8px;
    }
    .ChallengeOrdinarySelection>span:hover{
        color: white;
    }

    

        /* .ChallengeTag{
            border-right: 1px solid gray;
        } */

        .selected{
            color: white;
            border-bottom: 2px solid #01A1CD;
        }

        /* .ChallengeTag:active, .OrdinaryTag:active{
            transform: scale(0.9);
            opacity: 0.8;
        } */

        .SuccessToast{
            background-color: #5baac0 !important;
            color: white !important;
            border: 0px solid #75a8b6 !important;
        }


.PostHistory{
   display: flex;
   flex-direction: column;
   max-height: 80vh;
   overflow: scroll;
   scrollbar-width: none;
   gap: 20px;
}


@media (max-Width: 768px) {
    .Profile{
        width: 92vw;
    }

    .UserCard{
        min-width: 0;
    }

    .information{
        margin-left: 5vw;
        margin-top: 1vw;
    }
    .UserStats .stat{
        width: 100px;
        height: 50px;
    }
}
.PInteractionHistoryContainer{
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow: scroll;
    scrollbar-width: none;
     max-height: 80vh;
}
.PInteractionTag{
    background-color: #1C1C1C;
    padding: 12px 8px;
    border-radius: 5px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.PInteractionTag>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.PInteractionTag:hover{
     background-color: #4F4F4F;
}
.PInteractionTag>div:nth-child(1) span{
    display: flex;
    align-items: center;
    gap: 8px;
}
.PInteractionTag>div:nth-child(2){
    display: flex;
    gap: 10px;
}


.PIButtons{
     background-color: #01A1CD;
     padding: 5px 10px;
     color: white;
     border:none;
     border-radius:3px;
     cursor: pointer;
}