.VDashboard{
      display: flex;
      flex-direction: column;
      padding-top: 30px; 
      width: 100%; 
      gap: 20px;
      margin-left: 70px;
}
.VDashboard>div:nth-child(1){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.VDashboard>div:nth-child(1)>h1{
    font-size: 1.8em;
}
.ResignBtn{
    margin-right: 10px;
}
.VDasboardTabs{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      border-bottom:1px solid rgb(41, 41, 41);
}
.VDasboardTabs>span{ 
    padding-bottom: 10px;
    cursor: pointer;
    
}
.VDasboardTabs>span h2{
    opacity:0.8;
}
.VDasboardTabs>span h2:hover{
     opacity: 1;
}

.VDasboardBody{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.VDasboardBody>button:nth-child(1){
    align-self: flex-end;
    margin-right: 10px;
}
.VDasboardBodyContainers{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.VDasboardBodyContainers>div{
    flex-grow: 0.8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    gap: 18px;
}
.VDasboardBodyContainers>div h1{
    font-size: 1.8em;
    font-weight: 500;
    color: #007EA0;
}
.VDasboardBodyContainers>div h2{
    font-size: 0.9em;
    opacity: 0.8;
}

.CreditScoreInfo{
    display:flex;
    position: relative;
    gap: 5px;
    align-items: center;
}
.CreditScoreInfo>svg{ 
    cursor: pointer;
}
.CreditScoreInfo>p{ 
    z-index: 100;
    font-size: 0.7em;
    position: absolute;
    padding: 10px;
    background-color: #007EA0;
    width: 200px;
    line-height: 16px;
    border-radius: 5px;
    top: 20px;
}

.ReportTagContainer{
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
}

.ReportTag{
     padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    gap: 8px;
    max-width: 300px;
    width:90%;
}
.ReportTagHead{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.ReportTagHead>span:nth-child(1){
    display:flex;
    flex-direction: column;
    gap: 8px;
}
.ReportTagHead>span:nth-child(2){
    display: flex;
    flex-direction:row;
    gap: 5px;
    align-items: center;
    color: rgb(237, 178, 67);
}
.Dot{
    width:10px;
    height: 10px;
    background-color: rgb(237, 178, 67);
    border-radius: 50%;
}
.ReportTagHead h1{
   font-size: 1.4em;
   font-weight: 500;
}
.ReportTagHead h2{
  font-size: 0.8em;
}
.ReportVotingPeriod{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
.ReportVotingPeriod h1{
    font-size: 1em;
}
.ReportVotingPeriod h2{
    opacity: 0.7;
    font-weight: 300;
    font-size: 0.9em;
}

.VDBecomeValditor{
    color: white;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
    text-align: center;
}
.VDBecomeValditor>p{
    font-size: 1.3em;
}
.VDBecomeValditor>h1{
    font-size: 3em;
}
.VDBecomeValditor button{
     background-color: #01A1CD;
     padding: 7px 15px;
     color: white;
     border:none;
     border-radius:3px;
     cursor: pointer;
     font-size: 1.4em;
}
.VDBecomeValditor>button:hover{
     background-color: #007596;
}
@media screen and (max-width:500px) {
    .ReportTagContainer{
        justify-content:center;
        padding-bottom: 100px;
    }
}
@media  screen and (max-width:770px) {
    .VDashboard{
        margin-left: 0;
    }
}