.Faucet{
    width: 100vw;
    height: 100vh;
}

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

        .logoContainer{
            display: flex;
            align-items: center;
        }

        .logoContainer>h1{
            letter-spacing: 0.25rem;
            font-family: sans-serif;
        }

        .backButton{
            padding: 0.25rem 1rem;
            border: 0px;
            border-radius: 4px;
            background-color: #01a1cd;
            color: white;
            cursor: pointer;
        }

    .mainContainer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1.25rem 0rem;
        margin-top: 2rem;
        gap: 10px;
    }

        .TestnetFaucetPromotium{
            padding: 2rem;
            background-color: #202020;
            border-radius: 8px;
        }

        .TestnetFaucetPromotium>h1{
            font-size: 2.5rem;
            letter-spacing: 0.2rem;
            margin-bottom: 0.5rem;
        }

            .logo-withHeader{
                display: flex;
                align-items: center;
                gap: 0.25rem;
            }

            .logo-withHeader>h1{
                font-size: 1.25em;
            }
            .freeTokenforPromotium, .fastEasy, .connectWallet{
                display: flex;
                flex-direction: column;
                gap:2px;
                padding: 0.75rem 0rem;
            }
            .freeTokenforPromotium>p, .fastEasy>p, .connectWallet>p{
                font-size: 0.95em;
                max-width: 280px;
                margin-left: 1.25rem;
                margin-top: 0.5rem;
                color: rgb(206, 206, 206);
                line-height: 17px;
            }
        
        .claimFaucet{
            padding: 1rem;
            background-color: #202020;
            border-radius: 8px;
            width: 90%;
            max-width: 700px;
        }
        
            .tokeRequestPanel-Instructions{
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
            }

                .Instructions{
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;
                }

                .Instructions>h1{  
                    font-size: 1.25em;
                    font-weight: 800;
                }

                .FirstInstruction, .SecondInstruction, .thirdInstruction{
                    border: 1px solid #01a1cd;
                    padding: 0.25rem 0rem;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    border-radius: 4px;
                }

                .FirstInstruction div:nth-child(1), .SecondInstruction div:nth-child(1), .thirdInstruction div:nth-child(1){
                    /* border: 1px solid gray; */
                    padding: 0.25rem;
                    background-color: #01a1cd;
                    border: 1px solid #01a1cd;
                    width: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    border-radius: 4px 0px 0px 4px;
                }

                    .inputFieldWrapper{
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                    }

                    .inputFieldWrapper>label::after{
                        content: ' *';
                        color: red;
                    }

                    .inputFieldWrapper>label{
                        border-bottom: 1px solid rgb(70, 70, 70);
                        padding: 0rem 0rem 1rem 0rem;
                    }

                        .inputWrapper{
                            padding: 0.5rem;
                            border-radius: 6px;
                            background-color: #202020;
                        }

                        #walletAddress{
                            border: 0px;
                            font-size: 16px;
                            background-color: #202020;
                            outline: 0;
                            color: white;
                        }

            .requestButtonWrapper{
                margin-top: 0.5rem;
                padding: 0.5rem 0rem;
                border-top: 1px solid gray;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .requestButton{
                    padding: 1rem;
                    width: 100%;
                    font-size: 1rem;
                    border: 0px;
                    outline: 0;
                    background-color: #01a1cd;
                    color: white;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .requestButton:hover{
                     background-color: #0184a8;
                }

            .captcha{
                margin-top: 0.5rem;
            }
    
            .loaderButtons {
                width: 25px;
                padding: 6px;
                aspect-ratio: 1;
                align-self: center;
                border-radius: 50%;
                background: rgb(0, 200, 255);
                --_m: 
                  conic-gradient(#0000 10%,#000),
                  linear-gradient(#000 0 0) content-box;
                -webkit-mask: var(--_m);
                        mask: var(--_m);
                -webkit-mask-composite: source-out;
                        mask-composite: subtract;
                animation: l3 1s infinite linear;
              }
              @keyframes l3 {to{transform: rotate(1turn)}}