.Wrapper-Search{
    padding: 0.5rem 1rem;
    width: 16.85vw;
    position: absolute;
    top: 6%;
    left: 26%;
    z-index: 1002;
    background-color: #1C1C1C;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

.quickActions, .Results{
    padding: 1rem 0rem;
}

.Results{
    align-self: flex-start;
}

.quickActions>p, .Results>p{
    font-size: clamp(0.75rem, 0.9rem, 1rem);
    color: #c1c1c1;
    margin-bottom: 2px;
}

.actionButtons, .dummyUser{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: clamp(0.5rem, 0.75rem, 1rem) 0;
    gap: 0.5rem;
}

.username, .post, .report, .dummyUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2d2d;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-radius: 26px;
    font-size: clamp(0.75rem, 0.9rem, 1rem);
    flex-wrap: wrap;
}

.usernameSVG, .reportSVG, .postSVG, .dummyUser>img{
    margin-right: 0.25rem;
}

.dummyUser>img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 200, 255);
}

.dummyUser{
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    .Wrapper-Search{
        bottom: 0%;
        
    }
}