@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.App {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.FontHead {
  font-family: "Anonymous Pro";
  font-weight: 500;
}
.FontNormal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



/* Loader for buttons */
.button-loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #ffffff;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}


.StartingAnimation{
   width: 99.5%;
   height: 99vh;
   z-index: 10000;
   position: fixed;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;

}
.StartingAnimation>div{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 2.3em;
  position: relative;
  justify-content: center;
  margin-bottom: 100px;
}
.StartingAnimation img{
  height: 80px;
}

.SALoader{
   width: 210px;
   height: 8px;
   position: absolute;
   top: 120px;
   border-radius: 3px;
   background-color: rgb(58, 58, 58);
}
.SALoader div{
  height: 100%;
  background-color: #01A1CD;
  border-radius: inherit;
}

.SAText{
  width: 153px;
  overflow: hidden;
}