@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.App {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.FontHead {
  font-family: "Anonymous Pro";
  font-weight: 500;
}
.FontNormal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
